*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  color: brown;
}
.color2 {
  color: rgb(42, 165, 52);
}
.upercase::first-letter {
   text-transform: uppercase;
} 


@media (max-width: 900px) {
  .myList{
    position: fixed;
    top: 58px;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: black;
  }
  
  }